<div class="container p-4">
    <form action="/add" method="post">
        <input placeholder="enter a todo" type="text" name="title">
        <button type="submit">Create</button>
        <button type="reset">Reset</button>
    </form>
</div>