<div class="container p-4">
        <form action="/edit/<%= id%>" method="post">
        <input placeholder="edit a todo" type="text" name="updatedTitle">
        <button type="submit">submit</button>
        <button type="reset">reset</button>
    </form> 
</div>